<header id="header">
	<a href="{{ site.baseurl }}">
	  <img src="{{ "img/LogoFundoTransp.jpg" | prepend: site.baseurl }}" alt="Emerald Logo" style="width:250px;height:200px;">
	  <h2>Materiais didáticos</h2>

	  <h1 style="color:rgb(204,102,47);"><strong>Minicursos de Introdução ao R</strong> </h1>
	</a>
	<p> Aqui você irá encontrar o material utilizado nos minicursos ministrados nos anos de 2015, 2016, 2017, 2018, 2019, 2020 e 2021 <br>
	elaborados por alunos de pós-graduação dos laboratórios de Genética Estatística e de Bioinformática Aplicada à Bioenergia, ambos da ESALQ-USP. </p>
	<p>Utilize o menu localizado no canto direito superior desta página para acesso às apresentações teóricas e outras informações. </p>

</header>
