<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "img/emerald.svg" | prepend: site.baseurl }}" alt="Emerald Logo">
	  <h1>Mini-cursos: Introdução ao R - Mapeamento Genético - Sequenciamento de RNA e Expressão Diferencial</h1>
	</a>
	<p>Para todas as práticas é necessário fazer o download da pasta "Arquivos_Workshop-master" no menu localizado no canto direito superior desta página. </p>
    <p>No menu você também encontrará as apresentações teóricas e outras informações.</p>

</header>
