<header id="header">
	<a href="{{ site.baseurl }}">
	  <img src="{{ "img/LogoFundoTransp.jpg" | prepend: site.baseurl }}" alt="Emerald Logo" style="width:250px;height:200px;">
	  <h2>Workshop de Férias em Genética e Melhoramento de Plantas</h2>

	  <h1 style="color:rgb(204,102,47);"><strong>Minicursos de Introdução ao R</strong> </h1>
	</a>
	<p> Material utilizado nos minicursos ministrados nos anos de 2015, 2016 e 2017 </p>
	<p>Utilize o menu localizado no canto direito superior desta página para acesso às apresentações teóricas e outras informações. </p>

</header>
